/* You can add global styles to this file, and also import other style files */
.avatar_mask{
    width: 45px;
    height: 45px;
    border-radius: 900px;
    overflow: hidden;
}

.avatar_mask img{
    height: 60px;
}

.pointer {cursor: pointer;}

.btn-delete-right{
    right: 0;
    bottom: 0;
    margin-bottom: 6px !important;
    margin-right: 6px !important;
}