<div class="col-lg-3 float-left mt-3">
    <h6> Panel Photo</h6>
    <hr />
    <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
        <a class="nav-link active" id="v-pills-photo-tab" data-toggle="pill" href="#v-pills-photo" role="tab"
            aria-controls="v-pills-photo" aria-selected="true" [routerLink]="['list']">My Gallery</a>
        <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-add" role="tab"
            aria-controls="v-pills-add" aria-selected="false" [routerLink]="['add']">Add Photo</a>

    </div>
</div>
<div class="col-lg-9 float-right">
    <router-outlet></router-outlet>
</div>