<div class="col-lg-3 float-left mt-3">
    <h6> Panel Photo</h6>
    <hr/>
    <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
        <a class="nav-link active" id="v-pills-photo-tab" data-toggle="pill" href="#v-pills-photo" role="tab"
            aria-controls="v-pills-photo" aria-selected="true" [routerLink]="['list']">My Gallery</a>
        <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-add" role="tab"
            aria-controls="v-pills-add" aria-selected="false" [routerLink]="['add']">Add Photo</a>
        <li class="nav-item my-2 my-lg-0">
        <div class="input-group mb-2">
            <form class="input-group mb-2 mt-3">
                <input type="text" class="form-control" placeholder="Search Photo" aria-label="Search Photo"
                    aria-describedby="basic-addon2">
                <div class="input-group-append">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="button">Search</button>
                </div>
            </form>
        </div>
    </li>
    </div>
</div>
<div class="col-lg-9 float-right">
    <router-outlet></router-outlet>
</div>