<div class="col-lg-12">
    <div class="jumbotron jumbotron-fluid text-center mt-5">
        <div class="container">
            <h1 class="display-4">{{page_title}}</h1>
            <p class="lead">welcome to your personal gallery (Technical Test CondorLabs)</p>
            <hr class="my-4">
            <p>This work is done to participate in one of the job offers that the company condorlabs has in the position of developer on the server side (BackEnd).</p>
            <a class="btn btn-success btn-lg mr-3" href="#" role="button" [routerLink]="['/register']">
                Sign up</a> <a class="btn btn-primary btn-lg mr-3" href="#" role="button" [routerLink]="['/login']">Login</a>

        </div>
    </div>

</div>