<div class="container">
  <!-- Cabecera de la web -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light mt-4">
    <a class="navbar-brand nav-link" href="#" [routerLink]="['panel/list']">GALLERY</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#"[routerLink]="['/home']" >Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item" *ngIf="identity">
          <a class="nav-link" href="#" [routerLink]="['/panel']">
            Photo
          </a>
        </li>
        <li class="nav-item" *ngIf="identity">
          <a class="nav-link" href="#" [routerLink]="['/panel/listAlbum']">
            Album
          </a>
        </li>
        <li class="nav-item" *ngIf="identity">
          <div class="input-group">
              <form class="input-group my-2 my-lg-0" #searchForm="ngForm">
                  <input type="search" class="form-control mr-sm-2" name="searchs" placeholder="Search Photo" #searchs="ngModel" [(ngModel)]="search" aria-label="Search Photo"
                      aria-describedby="basic-addon2">
                  <div class="input-group-append">
                      <button class="btn btn-outline-success my-2 my-sm-0" type="submit" (click)="goSearch()" >Search</button>
                  </div>
              </form>
          </div>
      </li>
      </ul>
      <ul class="navbar-nav navbar-right">
        <li class="nav-item " *ngIf="!identity">
          <a class="nav-link" href="#" [routerLink]="['/register']">sign up</a>
        </li>
        <li class="nav-item " *ngIf="!identity">
          <a class="nav-link" href="#" [routerLink]="['/login']">Login</a>
        </li>
        <li class="nav-item" *ngIf="identity">
          <div class="avatar_mask" *ngIf="identity.image">
            <img src="{{ url + 'avatar/' + identity.image}}" class=" avatar_nav">
          </div>
        </li>
        <li class="nav-item dropdown" *ngIf="identity">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            {{identity.name}}
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#" [routerLink]="['/panel']">User Panel</a>
            <a class="dropdown-item" href="#">My Profile</a>
            <a class="dropdown-item" href="#" [routerLink]="['/settings']">Setting</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#" (click)="logOut()">Sign Out</a>
          </div>
        </li>
      </ul>
    </div>
  </nav>

  <!-- CONTENIDO -->
  <router-outlet></router-outlet>
</div>